.findWrapper{
  display: flex;
  align-items: center;justify-content: center;
}
.findBtn {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;

  img{
    width: 25px;
    height: 25px;
  }
}

.findInput {
  border: 1px solid #cdcdcd;
  border-left: none;
  height: 28px;
  outline: none;
  min-width: 250px;
  font-size: 16px;
}