.card{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  background-color: #ffffff;
  text-align: left;
  padding: 10px;

}
.title{
  color: #008bff;
}
.post{
  box-sizing: border-box;
  line-height: 1.5em;
  flex-grow: 1;


}
.author{
  color: #bebebe;
  letter-spacing: 1px;
}